@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

* {
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .background-buildings {
    width: 100%;
    height: 100%;
  }
      

h1 {

}


h2 {

}